<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.CityMapper">

	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		cityId,
		cityName
	</sql>

	<!--resultType="City" 每返回一条结果封装到City里 -->
	<select id="queryAll" resultType="City" parameterType="City">
		select
		<include refid="selectId" />
		from city
	</select>

	<select id="isExist" resultType="City" parameterType="String">
		select
		<include refid="selectId" />
		from city
		where cityId = #{cityId}
	</select>

	<!--resultType="City" 每返回一条结果封装到City里 -->
	<select id="query" resultType="City" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from city t
	</select>
	
	<select id="queryCityList" resultType="City" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from city t
		limit #{offset}, #{limit}
	</select>

	<!-- 增加用户 -->
	<insert id="add" parameterType="City">
		insert into city (
        cityId,
        cityName )
		values (#{cityId},
		#{cityName})
	</insert>

	<delete id="delete" parameterType="String">
		delete from city where
		cityId=#{cityId}
	</delete>

	<select id="getById" parameterType="String" resultType="City">
		select
		<include refid="selectId" />
		from city where cityId=#{cityId}
	</select>

	<update id="update" parameterType="City">
		update city
		<set>
			<if test="cityName != null and cityName != ''">
				cityName=#{cityName},
			</if>
		</set>
		where cityId=#{cityId}
	</update>

	<select id="countCity" parameterType="City" resultType="City">
		select
		<include refid="selectId" />
		from city where
		cityId=#{cityId} and cityName=#{cityName}
	</select>
</mapper>